*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: rgba(247, 227, 210, 0.863);
}
.navbar{
  position: fixed;
  width: 100%;
  background-color: rgb(179, 97, 97);
}
.navbar li{
  display: inline-block;
  list-style: none;
  padding: 20px;
  margin: 0px 30px;
  font-weight: bold;
  font-size: 25px;
}
.navbar li a{
  text-decoration: none;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.navbar li a:hover{
  background-color: burlywood;
  background-color: rgb(182, 232, 255);
  border-radius: 50%;
}
.active{
  background-color: rgb(181, 130, 223);
  border-radius: 50%;
}
.background{
  height: 900px;
  background-size: cover;
  background-image: url('../Photos/Desktop.jpg');
  width: 100%;
  background-repeat: no-repeat;
}
.practical{
  padding-top: 80px;
  text-transform: uppercase;
  font-size: 40px;
  text-align: end;
  font-weight: bolder;
  color: rgb(4, 58, 13);
}
.images img{
  margin: 40px;
  border-radius: 100%;
}
.heading{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  margin: 20px;
}
.more{
  display: inline-flex;
}
.text{
  float: left;
  border: 2px solid grey;
  width: 600px;
  height: 470px;
  overflow: hidden;
  color: white;
  background-color: grey;
}
.project{
  width: 653px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
  height: 150px;
  background-position: center;
}
#p1{
  background-image: url("../Photos/project1.webp");
}
#p2{
  background-image: url("../Photos/project2.jpg");
}
#p3{
  background-image: url("../Photos/project3.webp");
}
#container {
  display: inline-flex;
}
.box {
  border: 2px solid rgb(201, 167, 167);
  border-radius: 10px;
  color: white;
  margin: 10px;
  width: 290px;
  height: 380px;
  padding: 10px;
  background-color: rgb(150, 200, 250);
  overflow: hidden;
}
.i6{
  border-radius: 10px;
}
.a6{
  font-size: 23px;
  color: rgb(8, 8, 8);
  margin-top: 10px;
  margin-bottom: 10px;
}

.p6{
  color: rgb(8, 8, 8);
}
.readMore a {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  margin: 25px;
  color: rgb(253, 253, 255);
  background-color: rgb(214, 46, 16);
}

a:hover {
  background-color: rgb(76, 76, 160);
}

.c1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.para{
  border: 4px solid black;
  text-align: center;
  padding: 30px;
  width: 100%;
  background-color: rgb(95, 61, 99);
  color: white;
}
.para a{
  color: white;
}
.para a:hover{
  background-color: turquoise;
}